@model CompanyZ.Models.IngredientSearch

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<form asp-controller="Ingredients" asp-action="Index" method="get">
    <p>

        <select asp-for="IngredientType" asp-items="Model.Type">
            <option value="">All</option>
        </select>

        Title: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

@if (User.IsInRole("BranchManager"))
{
    <p>
        <a asp-action="Create">Add New Ingredient</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ingredient[0].IngredientName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ingredient[0].IngredientType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ingredient[0].IngredientDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ingredient[0].Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ingredient[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ingredient[0].ExpiryDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Ingredient)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IngredientName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IngredientType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IngredientDesc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpiryDate)
                </td>

                <td>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                    }
                    @if (User.IsInRole("BranchManager"))
                    {
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> 
                    }
                </td>


            </tr>
        }
    </tbody>
</table>
